[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:clip_bbox/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:docs/source/conf.py]
search = release = "{current_version}"
replace = release = "{new_version}"

[bumpversion:file:docs/requirements.txt]
search = clip_bbox=={current_version}
replace = clip_bbox=={new_version}
